<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<title>Leave Management System</title>
</head>

<body>
	<h1>{{inputtext}}</h1>
	<div class="form-group row">
		<div class="col-sm-10 offset-sm-1">
			<button class="btn btn-primary" onclick="location.href='/'">Home</button>
		</div>
	</div>


</body>

</html>